* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.app-container {
  max-width: 970px;
  min-width: 700px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #424242;
}
a:hover {
  color: #0994d4;
}
a:focus {
  color: #0994d4;
}
li {
  list-style-type: none;
}
.align-right {
  text-align: right;
}
.center {
  margin: 0 auto;
}
.nav {
  background-color: white;
  margin: 0 auto;
  margin-top: 4px;
  /* padding-top: 12px; */
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  /* max-width: 970px; */
  /* border-bottom: 1px solid #333232;   */
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 1;
  /* border-radius: 30px; */
  /* background-color: #eef2f5; */
  padding: 5px;
  -webkit-box-shadow: -1px 15px 9px -9px rgba(83, 84, 85, 0.13);
  -moz-box-shadow: -1px 15px 9px -9px rgba(83, 84, 85, 0.13);
  box-shadow: -1px 15px 9px -9px rgba(83, 84, 85, 0.13);
}
.nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 18px;
}
.active {
  font-weight: 600;
}

.nav a {
  padding: 10px 15px;
  margin: 0 5px 5px 0;
}
.nav a:focus,
.nav a:hover {
  border-radius: 20px;
  background-color: #eff5f8;
  outline: none;
}
.header {
  text-align: center;
  font-size: 22px;
  color: #454849;
  margin: 10px 0;
}
.header-small {
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
  color: #454849;
}
.position-relative {
  position: relative;
}
.margin-bottom {
  margin-bottom: 15px;
}
.shadow-light {
  -webkit-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  -moz-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
}

.btn {
  border: 1px solid #1fa7dd;
  background: #1fa7dd;
  color: #fcfcfc;
  border-radius: 40px;
  font-weight: 500;
  width: 160px;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 20px;
  margin: 10px auto;
  /* margin-bottom: 20px; */
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  -moz-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
}
.btn:disabled {
  border: 1px solid #dbd9d9;
  background: #ffffff;
  color: #b8b4b4;
  /* border: 1px solid  #bfc1c2;
  color: #f3ecec;
  background: #bfc1c2; */
  cursor: default;
}
.btn:disabled:hover {
  border: 1px solid #dbd9d9;
  background: #ffffff;
  color: #b8b4b4;

  /* border: 1px solid  #bfc1c2;
  color: #f3ecec;
  background: #bfc1c2; */
 
  cursor: default;
}
/* .btn:focus, */
.btn:hover {
  background: #31baf0;
  color: #ffffff;
  border: 1px solid  #31baf0;
}
.btn:focus-within {
  background: #31baf0;
  color: #ffffff;
  border: 1px solid  #31baf0;
  outline: none;
  box-shadow: 0 0 0 0.15rem #ffffff, 0 0 0 0.25rem #1fa7dd;
}
.btn-clear {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}
.btn-clear:hover {
  cursor: pointer;
}
.separator-line{
  border-left: 1px solid  #ffffff;
}
.separator-line-bottom{
  border-bottom: 1px solid  #ffffff;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.clickable {
  cursor: pointer;
}
.hover-blue:hover {
  color: #0994d4;
}

.hover-blue-circle-background:hover,
.hover-blue-circle-background:focus {
  color: #0994d4;
  cursor: pointer;
  border-radius: 50px;
  background-color: #dfe7eb;
}

/* =========profile============ */
.background-container {
  /* max-width: 970px; */
  height: 194px;
  /* border: 1px solid #c7c4c4; */
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  background: #97bad1;

}
.under-avatar {
  position: absolute;
  top: 119px;
  left: 20px;
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  border-radius: 75px;
  font-size: 75px;
  border: 7px solid white;
  font-size: 11px;
  background: white;
}
.profile-avatar {
  position: absolute;
  top: 119px;
  left: 20px;
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  border-radius: 75px;
  font-size: 75px;
  border: 7px solid white;
  font-size: 11px;
  -webkit-box-shadow: 0px 8px 15px -1px rgba(83, 84, 85, 0.322);
  -moz-box-shadow: 0px 8px 15px -1px rgba(83, 84, 85, 0.322);
  box-shadow: 0px 8px 15px -1px rgba(83, 84, 85, 0.322);
}
.profile-name {
  position: absolute;
  top: 140px;
  left: 182px;
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.profile-icon {
  /* margin-top: 5px; */
  vertical-align: bottom;
  margin-right: 5px;
  color: #454849;
}
.data-container {
  display: flex;
  /* margin: 0 auto; */
  /* max-width: 970px; */
  border-radius: 2px;
  justify-content: space-between;
  /* border: 1px solid #c7c4c4; */
}
.profile-meta {
  background: #eef0f162;
  width: 330px;
  align-self: start;
  padding: 20px 20px 40px 20px;
  margin: 7px 10px 0 0;
  border-radius: 2px;
  -webkit-box-shadow: 0px 11px 31px -15px rgba(23, 38, 68, 0.230);
  -moz-box-shadow: 0px 11px 31px -15px rgba(62, 63, 65, 0.230);
  box-shadow: 0px 11px 31px -15px rgba(62, 63, 65, 0.230);
  border: 1px solid #d9dfe291;
}
.profile-meta-text {
  font-size: 18px;
  margin: 7px 0;
}
.profile-meta div:first-of-type {
  padding-top: 58px;
}
/* .profile-meta-text-first {
  padding-top: 50px;
} */
.profile-tweets {
  flex: 2;
}

.profile-setting-wheel {
  float: right;
  color: #b6c6ce;
  border-radius: 23px;
  height: 46px;
  width: 46px;
  padding: 5px;
  vertical-align: middle;
}
.profile-setting-wheel:focus,
.profile-setting-wheel:hover {
  background-color: #d7e6ec;
  outline: none;
}
.data-container-update {
  background-color: #e6edf569;
  margin: 7px auto;
}
.profile-sidebar {
  padding: 75px 0 40px 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-self: stretch;
  background: #bed7eb31;
}
.profile-sidebar-link {
  font-size: 20px;
  padding: 22px 0 22px 40px;
  color: #545b5f;
  /* margin: 5px 10px;
  border-radius: 40px; */
}
.profile-sidebar-link:hover,
.profile-sidebar-link:focus{
  background-color: #acbbc73d;
  outline: none;
}
.profile-sidebar-link-active {
  background-color:  #acbbc73d;
  /* box-shadow: 0 0 0 0.05rem #4e4b4b; */
  /* border-bottom: 1px solid rgb(119, 116, 116); */
}
.profile-update-data-container {
  margin: 0 auto;
  color: #454849;
  padding-bottom: 20px;
}
.profile-update-data-container .form-header {
  color: #454849;
}
.profile-update-data-container-input {
  padding: 12px 25px;
  font-size: 19px;
  border-radius: 30px;
  color: rgb(78, 75, 75);
  /* border: none; */
  border: 1px solid #ece9e9de;
  /* background-color: #e6edf577; */
  background-color: #ffffff;
  /* border: 1px solid #b6b9b9; */
  -webkit-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  -moz-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  min-width: 370px;
}
.profile-update-data-container input:focus {
  outline: none;
} 
.profile-update-data-container label,
.profile-update-data-container p {
  font-size: 13px;
  font-weight: 500;
  margin: 17px 0 5px 25px;
  color: #949596;
}
.profile-update-data-container button {
  display: block;
  border-radius: 40px;
}
.textarea-update {
  /* min-width: 370px; */
  resize: none;
  outline: none;
}
.color-picker-container {
  display: flex;
}
.color-picker-container p {
  font-size: 13px;
  font-weight: 500;
  margin: 17px 0 5px 25px;
  color: #949596;
}
.color-input {
  flex-grow: 2;
  width: initial;
}
.color-picker-icon {
  height: 45px;
  width: 45px;
  padding: 7px;
  align-self: center;
  border-radius: 30px;
  margin-left: 15px;
  /* z-index: 2; */
}
.color-picker-icon:hover,
.color-picker-icon:focus {
  background-color: #e3e9ec;
}
.color-picker-tool {
  position: absolute;
  top: -520%;
  left: 90%;
  z-index: 1;
}
.color-picker-close-container {
  background-color: transparent;
}
.profile-image-delete-btn {
  margin-top: 15px;
  padding: 12px 25px;
  font-size: 19px;
  border-radius: 30px;
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  -moz-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.103);
  min-width: 370px;
}

/* =============== follow button =========== */
.btn-follow-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.btn-usercard {
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #333232;
  width: 120px;
  padding: 10px 0;
  margin: 20px;
}
.btn-follow {
  background: transparent;
  border-radius: 40px;
}
.btn-follow:hover {
  cursor: pointer;
  background: #1fa7dd;
  border: 1px solid #1fa7dd;
  color: white;
}
.btn-follow:focus {
  background: #1fa7dd;
  border: 1px solid #1fa7dd;
  color: white;
  outline: none;
  box-shadow: 0 0 0 0.15rem #ffffff, 0 0 0 0.25rem #1fa7dd;
}
.btn-unfollow {
  border-radius: 40px;
  background: #333232;
  color: #eceaea;
}
.btn-unfollow:hover {
  cursor: pointer;
  background: #5a5858;
  color: #eceaea;  
}
.btn-unfollow:focus-within {
  /* background: #5a5858;
  color: #eceaea;   */
  outline: none;
  box-shadow: 0 0 0 0.15rem #ffffff, 0 0 0 0.25rem #1fa7dd;
}
/* =========FORM======================== */
.form-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
}
.form {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  align-items: center;

}
.form-header {
  font-size: 25px;
  margin: 25px 0;
  text-align: center;
  color: #ffffff;
}
.form label {
  font-size: 13px;
  margin: 15px 0 5px 15px;
  color: #ffffff;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form input {
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 40px;
  /* border: 1px solid #ffffff; */
  background-color: #ffffff2a;
  font-weight: 500;
  border: none;
  color: #ffffff;
  width: 300px;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.388);
  -moz-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.388);
  box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.388);
}
.form input:focus {
  outline: none;
}
.btn-form {
  background-color: #12acf3e8;
  border: 1px solid #12acf3e8;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.452);
  -moz-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.452);
  box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.452);
}
.btn-form:disabled,
.btn-form:disabled:hover{
  background-color: rgba(237, 240, 241, 0.835);
}

/* =========FORM======================== */

/* =========TWEET======================== */
.big-container {
  padding: 20px;
  background: #eef0f162;
  width: 700px;
  margin: 10px auto;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #d9dfe291;
  -webkit-box-shadow: 0px 11px 31px -15px rgba(23, 38, 68, 0.230);
  -moz-box-shadow: 0px 11px 31px -15px rgba(62, 63, 65, 0.230);
  box-shadow: 0px 11px 31px -15px rgba(62, 63, 65, 0.230);
}
.tweet-container {
  display: flex;
  width: 550px;
  border-radius: 5px;
  margin: 25px auto;
  padding: 5px;
  position: relative;
  border: 1px solid #d8d6d66b;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  -moz-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  background: white;
}
.tweet-container:hover {
  background: #fcfbfb;
  /* box-shadow: 0 0 0 0.05rem #bebebe; */
  -webkit-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.163);
  -moz-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.163);
  box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.163);
}
.tweet-container:focus-within {
  background: #fcfbfb;
  /* box-shadow: 0 0 0 0.05rem #bebebe; */
  -webkit-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.163);
  -moz-box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.163);
  box-shadow: 0 0 0 0.05rem #bebebe, 0px 5px 10px -1px rgba(83, 84, 85, 0.163);
}

.pseudo-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.avatar {
  min-height: 65px;
  min-width: 65px;
  max-height: 65px;
  max-width: 65px;
  border-radius: 40px;
  margin: 15px;
  font-size: 10px;
  border: 1px solid #ece7e7;
}
.tweet-meta {
  margin: 15px 10px 15px 0;
}
.tweet-meta a {
  position: relative;
}
.tweet-meta .user-name {
  font-size: 19px;
  font-weight: 600;
}
.meta-text {
  color: #9b9999;
  font-size: 14px;
  margin: 4px 0;
}
.text {
  font-size: 16px;
  margin: 10px 10px 10px 0;
  line-height: 1.3em;
  white-space: pre-line;
}
.respons-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.respons {
  font-size: 17px;
  color: #9b9999;
  margin: 0 10px 0 5px;
  padding-top: 2px;
}
.icon {
  font-size: 25px;
  color: #444343;
  vertical-align: bottom;
}
.tweet-meta .icon {
  position: relative;
}
.icon:hover {
  cursor: pointer;
  color: #0994d4;
}
.icon-container {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container:hover,
.icon-container:focus {
  background-color: #e0e9ee;
  outline: none;
}

.liked {
  color: #d61851;
}
.new-tweet {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.textarea {
  height: 110px;
  resize: none;
  /* margin: 0px 0 10px 0; */
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  -moz-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  border-left: 1px solid #d8d6d66b;
  border-right: 1px solid #d8d6d66b;
  border-top: 1px solid #d8d6d66b;
  border-bottom: none;
  outline: none;
  background-color: white;
}
.new-tweet-meta {
  border-left: 1px solid #d8d6d66b;
  border-right: 1px solid #d8d6d66b;
  border-bottom: 1px solid #d8d6d66b;
  background-color: white;
  align-items: center;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  -moz-box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
  box-shadow: 0px 5px 10px -1px rgba(83, 84, 85, 0.143);
}
.new-tweet-meta .meta-text {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.new-tweet-meta .icon {
  margin-left: 10px;
}
.show-emoji-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.show-emoji-icon-container:hover,
.show-emoji-icon-container:focus {
  background-color: #eff5f8;
  outline: none;
}
.emoji-container {
  height: 138px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 7px 0 0 0;
  
}
.emoji {
  font-size: 25px;
}
.emoji:hover {
  cursor: pointer;
}
/* =========TWEET======================== */

.btn-logout {
  background: transparent;
  border: none;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;  
  color: #424242;
  cursor: pointer;
  margin: 0 15px 5px 0;
  padding: 10px 15px;
}
.btn-logout:hover,
.btn-logout:focus {
  border-radius: 20px;
  background-color: #eff5f8;
  outline: none;
  color: #0994d4;
}

/* ====================ALERT================ */
.alert-container {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /*Sit on top*/
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.alert-box {
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ebeff1;
  -webkit-box-shadow: 10px 10px 30px -7px rgba(113,114,115,0.7);
  -moz-box-shadow: 10px 10px 30px -7px rgba(113,114,115,0.7);
  box-shadow: 10px 10px 30px -7px rgba(113,114,115,0.7);
  width: 550px;
  min-height: 150px;
}
.alert-content {
  font-size: 22px;
  text-align: center;
  line-height: 2rem;
  margin: 30px 25px;
  height: 100%;
  vertical-align: middle;
  color: #404142;
}
.close-alert-btn {
  float: right;
  color: #3a3737;
  padding: 5px;
  height: 35px;
  width: 35px;
}
.close-alert-btn:hover,
.close-alert-btn:focus {
  color: #0994d4;
  cursor: pointer;
  border-radius: 20px;
  background-color: #dfe7eb;
}
/* =============GRADIENT============= */
.animated-gradient {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(135deg, rgba(114,191,204,1) 0%, rgba(110,149,194,1) 29%, rgba(127,121,189,1) 50%, rgba(157,111,181,1) 70%, rgba(199,134,166,1) 88%, rgba(235,150,150,1) 100%);
  /* background: linear-gradient(135deg, rgba(81,221,246,1) 0%, rgba(147,200,251,1) 21%, rgba(171,168,250,1) 41%, rgba(207,134,250,1) 63%, rgba(255,122,184,1) 86%, rgba(255,121,134,1) 100%);  -webkit-animation: Gradient 40s ease infinite; */
  /* background: linear-gradient(135deg, rgba(240,248,250,1) 0%, rgba(226,234,244,1) 21%, rgba(229,228,255,1) 41%, rgba(246,232,255,1) 63%, rgba(255,233,244,1) 86%, rgba(254,229,231,1) 100%); */
  background-size: 300% 300%;
  -moz-animation: Gradient 36s ease infinite;
  animation: Gradient 36s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}
.filter {
  background-color: #71b4db2c;
}